body {
  font-family: "Atkinson-Hyperlegible-Regular";
  color: #ffffff;
  margin: auto;
  background-color: #16181d;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-weight: bolder;
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

button {
  border-radius: 30px;
  border-color: transparent;
  padding: 5px 5px 5px 13px;
  background-color: #ffd36e;
  color: #000000;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  background: #ffb2b2;
  border-radius: 22px;
  margin: 22px 11px;
  padding: 30px;
}

.meaning {
  border: #ffffff;
  border-radius: 1px;
}

.App-header {
  margin: 40px 0px 20px 0px;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
}

.Dictionary section {
  background: #2d2f34;
  border-radius: 22px;
  margin: 22px 11px;
  padding: 30px;
}

.Photos img {
  border-radius: 22px;
  margin: 11px 11px;
}

.Dictionary .Masonry {
  column-count: 3;
  column-gap: 22px;
}

.Dictionary #Sound {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

#definitionResult {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}
