body {
  font-family: "Atkinson hyperlegible";
  color: #ffffff;
  margin: auto;
  background-color: #16181d;
}

h1 {
  color: #ffffff;
  font-weight: 500;
  font-size: 40px;
}

h2 {
  color: #ffffff;
  font-weight: 500;
  font-size: 40px;
}
