body {
  font-family: "Atkinson hyperlegible";
  color: #ffffff;
  margin: auto;
  background-color: #16181d;
}

h2 {
  color: #ffffff;
  font-weight: 100;
  font-size: 24px;
}

h3 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
}

button {
  border-radius: 30px;
  border-color: transparent;
  padding: 5px 5px 5px 13px;
  background-color: #ffd36e;
  color: #000000;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  background: #ffb2b2;
  border-radius: 22px;
  margin: 22px 11px;
  padding: 30px;
}

.meaning {
  border: #ffffff;
  border-radius: 1px;
}

.App-header {
  margin: 40px 0px 20px 0px;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
}

.Dictionary section {
  background: #2d2f34;
  border-radius: 22px;
  margin: 22px 11px;
  padding: 30px;
}

.Photos {
  border-radius: 22px;
  margin: 22px 11px;
}
